{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<h1>How to use:</h1><br>
<ul class="list-group">
  <li class="list-group-item">Upload an image in the upload page above. You'll need to create a password to use only with that image.</li>
  <li class="list-group-item">You'll be redirected to the home page where you'll see the image id above the image.</li>
  <li class="list-group-item">To share the image, you'll need to share the image id and password you created with it with your friend.</li>
  <li class="list-group-item">They can then go to the view image tab and enter the details to view it!</li>
</ul>
{% endblock %}
