{% extends "layout.html" %}

{% block title %}
    View Image
{% endblock %}

{% block main %}
<h1>View an image!</h1>
    <form action="/view" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="id" placeholder="Photo ID" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">View Image</button>
    </form>
{% endblock %}
